IN THE HIGH COURT OF JUSTICE
FAMILY DIVISION
PRINCIPAL REGISTRY OF THE FAMILY DIVISION

GRANT OF PROBATE

In the Estate of {{ deceased_name }} deceased

Probate Reference:    {{ probate_ref }}
Date of Grant:        {{ grant_date }}
Date of Death:        {{ death_date }}
Domicile:             {{ domicile }}

This Grant of Probate is granted to:

  {{ executor_name }}
  of {{ executor_address }}

as Executor named in the Will of the above-named deceased who died
on {{ death_date }} domiciled in {{ domicile }}.

ESTATE VALUATION
----------------------------------------
Gross Value of Estate:    {{ currency }} {{ gross_estate }}
Debts and Liabilities:    {{ currency }} {{ debts }}
Net Estate Value:         {{ currency }} {{ net_estate }}
Inheritance Tax Paid:     {{ currency }} {{ iht_paid }}
----------------------------------------

The executor is authorised to administer the estate and distribute
assets in accordance with the terms of the Will dated {{ will_date }}.

Issued under the seal of the Principal Registry
Senior District Judge of the Family Division

Document Reference: {{ doc_id }}
Page 1 of {{ total_pages }}
