P60 END OF YEAR CERTIFICATE
{{ employer_name }}
{{ employer_address }}
PAYE Reference: {{ employer_paye_ref }}

Employee:         {{ employee_name }}
Employee ID:      {{ employee_id }}
National Ins No:  {{ ni_number }}
Tax Year:         {{ tax_year_start }} to {{ tax_year_end }}

-----------------------------------------------------------
EARNINGS SUMMARY  (Tax Year {{ tax_year_label }})
-----------------------------------------------------------
Total Gross Pay:       {{ currency }} {{ gross_pay }}
Income Tax Deducted:   {{ currency }} {{ income_tax }}
NI Contributions:      {{ currency }} {{ ni_contributions }}
-----------------------------------------------------------
Net Pay:               {{ currency }} {{ net_pay }}
-----------------------------------------------------------

This certificate should be kept in a safe place.
It confirms earnings and deductions for the above
tax year and is required for Self Assessment returns.

Document ID: {{ doc_id }}
